<section class="bg-white py-8">
  <div class="container mx-auto">
    <h2 class="text-2xl font-medium mb-4">Worker_visor</h2>
  
     <p class="text-sm mb-2">This is a module that defines a supervisor process named Cache.WorkerVisor that starts a single worker process named Cache.Worker. <br> The worker process is started with a passed in config map that includes the supervisor's PID as an additional field. <br> The supervisor uses the :one_for_one strategy which means that it will restart a child process if it crashes, but it will not affect the other child processes.
        </p> 
    </div>
</section>
  